# Load firmware for this printer.

#ACTION!="add", GOTO="mud_rules_end"

# BM5230ADN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="2773", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

# BM5230ADW
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="2774", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

# BM5237ADN
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="2777", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

# BM5237ADW
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="232b", ATTR{idProduct}=="2778", MODE="0666", OWNER="root", GROUP="lp", ENV{libsane_matched}="yes"

LABEL="mud_rules_end"



